@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b5d8e;
  color: white;
}

/* Pseudo-elemento para o fundo: opacidae */
body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2012/12/10/04/26/flags-69190_1280.jpg");
  opacity: 0.6;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
}

h1 {
  letter-spacing: 4px;
  text-align: center;
  color: white; /* Mantendo a cor do título como branco */
}

.content {
  padding: 40px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.divSelects {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.selectFrom,
.selectTo {
  width: 300px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  border-color: #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2); 
}

.divTextareas {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 120px;
  border-radius: 5px;
}

#textareaTo {
  width: 300px;
  height: 150px;
  position: right;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0; /* Define uma cor de fundo para diferenciar visualmente da área de texto habilitada */
  color: #666; /* Define uma cor de texto para torná-la visualmente distinta */
  resize: vertical;
}

#textareaFrom {
  width: 300px;
  height: 150px;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0; /* Define uma cor de fundo para diferenciar visualmente da área de texto habilitada */
  color: #666; /* Define uma cor de texto para torná-la visualmente distinta */
  resize: vertical;
}

#input-text,
#output-text {
  border-color: #ddd;
  outline: none;
  padding: 5px;
  font-size: 18px;
  width: 50%;
  border-radius: 5px;
  resize: none;
  border-radius: 1000px;
}

#swap-languages-button {
  background-color: #1c61c2;
  color: white;
  padding: 10px 20px;
  width: 100px;
  height: 99px;
  font-size: 14px;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  transform: scale(0.6);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2); 
}

#btnTranslate {  /* botao de traduçao */
  padding: 10px;
  font-size: 15px;
  border: none;
  background-color: #1c61c2;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  letter-spacing: 1px;
}
/* tamanho do ícone de troca de lingua */
.fa-arrows-alt-h {
  font-size: 40px;
}

#btn-ouvir1 {
  position: absolute; /* cuidado aqui na posicao do botao */
  bottom: 5px;
  left: 5px;
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: #1c61c2;
  color: white;
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1px;

}




#btn-ouvir2 {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: #1c61c2;
  color: white;
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  letter-spacing: 1px;
}

button:hover {
  opacity: 0.9;
}

.footer {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ccc;
}

.footer a {
  background-color: #f0f0f0;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer a:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .content {
    padding: 90px;
  }

  .divSelects {
    flex-direction: column;
    align-items: flex-start;
  }

  .selectFrom,
  .selectTo {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }

  .divTextareas {
    position: relative;

  }
}
/* You can add more media queries for further customization on different screen sizes if needed */
