@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4392F1;
  color: white;
}

/* Pseudo-elemento para o fundo: opacidacidade 
body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2012/12/10/04/26/flags-69190_1280.jpg");
  opacity: 0.6;
  background-size: cover;
  background-position: center;
  z-index: -1; 
}
*/
.container {
  position: relative; /*remove  */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
}

h1 {
  font-size: 56px; /* Definir  o tamanho */
  letter-spacing: 4px;
  text-align: center;  /*remove  */
  color: white; /* Mantendo a cor do título como branco */
}


.content {
  padding: 15px;
  box-shadow: 0 1px 2px #0003; /*esse bloco e para a borda branca em volta dos elementos */
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.divSelects {
  display: flex;
  flex-direction: row;
  align-items: center; /*remove  */
  gap: 10px;
}


.textarea-container {
  position: relative;
  padding: 40px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}



.selectFrom,
.selectTo {
  width: 300px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  border-color: #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.divTextareas {
  position: relative; /*remove  */
  display: flex;
  gap: 120px;
  border-radius: 5px;
  flex-direction: row;
  align-items: center;
 
}


#textareaTo {
  width: 300px;
  height: 150px;
  position: right;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #664;
  resize: none; /* resise Permite redimensionar */
  overflow: hidden; /* Esconde a barra de redimensionamento */
}

/* Aplica o redimensionamento vertical para todos os elementos textarea */
textarea {
  resize: vertical;
  width: 400px;
  height: 200px;
}

#textareaFrom {
  width: 300px;
  height: 150px;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0; /* Define uma cor de fundo para diferenciar visualmente da área de texto habilitada */
  color: #664; /* Define uma cor de texto para torná-la visualmente distinta */
  resize: none; /* o none Desabilita o redimensionamento, outras opcoes como o vertical, pode redimencionar a area do texto */ /* Permite redimensionar verticalmente */
  overflow: hidden; /* Esconde a barra de redimensionamento */
}

#input-text,
#output-text {
  border-color: #ddd;
  outline: none;
  padding: 5px;
  font-size: 18px;
  width: 50%;
  border-radius: 5px;
  resize: none;
  border-radius: 1000px;
}

#swap-languages-button {
  background-color: #4392F1;
  color: white;
  padding: 10px 20px;
  width: 100px;
  height: 99px;
  font-size: 14px;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  transform: scale(0.6);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

#btnTranslate {
  /* botao de traduçao */
  padding: 10px;
  font-size: 15px;
  border: none;
  background-color: #4392F1;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  letter-spacing: 1px;
}
/* tamanho do ícone de troca de lingua */
.fa-arrows-alt-h {
  font-size: 40px;
}

#btn-ouvir1 {
  position: absolute; /* cuidado aqui na posicao do botao */
  bottom: 5px;
  left: 5px;
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: #4392F1;
  color: white;
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1px;
}

#btn-ouvir2 {
  position: absolute;
  bottom: 8px;
  right: 5px;
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: #4392F1;
  color: white;
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  letter-spacing: 1px;
}

#btn-microphone {
  position: absolute; /* posicao do botao */
  bottom: 5px;
  left: 70px;
  width: 50px; /* Largura do botão */
  height: 50px; /* Altura do botão */
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: #4392F1;
  color: white;
  border-radius: 50%; /* Tornar o botão circular */
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1px;
}

button:hover {
  opacity: 0.9;
}

.footer {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ccc;
}

.footer a {
  background-color: #f0f0f0;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer a:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media screen and (max-width: 768) {
  .content {
    padding: 90px;
  }
  @media screen and (min-width: 769px) {
    /* Estilos para quando a largura da tela é maior que 768 pixels (tela deitada) */
  }
  .divSelects {
    flex-direction: column;
    align-items: flex-start;
  }

  .selectFrom,
  .selectTo {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }

  .divTextareas {
    position: relative;
  }
}
